# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.ipynb_checkpoints
.DS_Store
__pycache__
.idea
.zip

Polygon/evaluation/client_data.zip
Polygon/evaluation/server_data.zip
Polygon/evaluation/server_data/websites/*
Polygon/evaluation/server_data/shuffle_index
Polygon/evaluation/modified_cpu/downloading
